.model-container {
    width: min(80%, 1000px);
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto auto;
}

.model-item#mi-model {
    grid-column: span 2;
}

.input-container#ic-model {
    display: grid;
    grid-template-columns: auto auto;
}

.model-item {
    margin-bottom: 20px;
}

.model-item-item {
    margin-bottom: 20px;
}

.model-item-problem {
    margin-left: 20px;
}

.select-template {
    display: none;
}

.model-title {
    font-weight: bold;
}

/*phone width*/
@media only screen and (min-width: 320px) and (max-width: 768px /*max screen 480px*/) {
    .model-container {
        grid-template-columns: auto;
    }

    .model-item#mi-model {
        grid-column: span 1;
    }

    .input-container#ic-model {
        display: block;
    }
}

/*tablet width*/
@media only screen and (min-width: 768px) and (max-width: 1224px /*max screen 1024px*/) {
    .model-container {
        grid-template-columns: auto;
    }
    
    .model-item#mi-model {
        grid-column: span 1;
    }

    .input-container#ic-model {
        display: block;
    }
}

/*laptop and small screens*/
@media only screen and (min-width: 1224px) and (max-width: 1824px) {
}

/*large screens*/
@media only screen and (min-width: 1824px) {
}