.summary-section {
    width: min(80%, 500px);
    margin: 0 auto 20px auto;
    /*text-align: center;*/
}

ul {
    list-style: "★" outside none;
    padding: 0;
}

/*phone width*/
@media only screen and (min-width: 320px) and (max-width: 768px /*max screen 480px*/) {

}

/*tablet width*/
@media only screen and (min-width: 768px) and (max-width: 1224px /*max screen 1024px*/) {

}

/*laptop and small screens*/
@media only screen and (min-width: 1224px) and (max-width: 1824px) {
}

/*large screens*/
@media only screen and (min-width: 1824px) {
}